.card {
    border: 2px solid #000;
    border-radius: 3px;
    padding: 20px;
    flex-grow: 1;
    flex-basis: 200px;
    max-width: 200px;
    margin: 10px;
    cursor: pointer;
    &__catchBtn {
        padding: 5px;
        background: rgba(235, 180, 52, 0.5);
        border: 1px solid #000;
        border-radius: 2px;
    }
    &__catchBtn[disabled] {
        background: rgba(235, 180, 52, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}