/* autoprefixer grid: autoplace */

.pokemonlist {
    padding: 20px 0;
    width: 100%;
}
.pokemonlist__cards {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, 220px);
    justify-content: center;
}