/* autoprefixer grid: autoplace */

.pokemon {
    padding: 20px 0;
}
.pokemon__inner {
    padding: 30px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .pokemon__inner {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 20px; 
        grid-template-areas: 
            "pokemon__info pokemon__image";
        width: 100%; 
        height: 100%; 
    }
    .pokemon__info { 
        grid-area: pokemon__info; 
    }
    .pokemon__image { 
        grid-area: pokemon__image; 
    }
}



