.header {
    // position: fixed;
    // z-index: 10;
    // left: 0; 
    // right: 0;
    // top: 0;
    &__inner {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        color: #000;
    }
}
