/* autoprefixer grid: autoplace */

.pokemon__info { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
 }
 .pokemon__info div {
     margin: 5px 0;
 }

 @media (min-width: 768px) {
    .pokemon__info { 
        grid-area: pokemon__info; 
    }
    .pokemon__info div {
        margin: 20px 0;
    }
 }